---
import { ActiveTab } from '@types';
import Base from '@layouts/Base.astro';
---

<Base title="guest journals" tabName={ActiveTab.guestJournals}>
  <main class="grid place-items-center min-h-screen -mt-40">
    <h1>Under Maintainance</h1>
  </main>
</Base>
