---
import type { MarkdownLayoutProps } from 'astro';
import { type PostFrontmatter, ActiveTab } from '@types';
import { Image } from 'astro:assets';
import { formatDate } from '@utils/formatDate';
import { foundImageFormat } from '@utils/findImageFormat';
import Base from './Base.astro';

type Props = MarkdownLayoutProps<PostFrontmatter>;

const { title, date } = Astro.props.frontmatter;
const { url } = Astro.props;
const slug = url?.split('/')[2];
---

<Base title={title} tabName={ActiveTab.blog}>
  <div>
    <h1 class="text-4xl font-bold font-poppins mb-2">{title}</h1>
    <span class="font-poppins font-light"
      >{formatDate(date, { day: true, month: true, year: true })}</span
    >
  </div>
  {
    foundImageFormat !== undefined && (
      <Image
        class="my-4"
        src={`images/${slug}.jpg`}
        width={100}
        height={100}
        class="w-full object-cover my-4"
        alt="image"
      />
    )
  }
  <div class="prose lg:prose-xl dark:prose-invert font-light">
    <slot />
  </div>
</Base>
